.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.section {
    flex: 1;
}

.footer {
    flex: 1;
}

.scrollableContent {
    overflow: auto;
    width: 100%;
    height: 60vh;
    overflow-x:hidden;
}
.buttonLink{
    cursor: text;
    text-decoration: none;
    color: black;
}
